<?xml version="1.0" encoding="Windows-1252"?>
<CFProjPrefs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <projectPath>D:/Game/Project/2D/Prj 01/2D-nGK/2D Double Jump/Assets</projectPath>
  <isIsntalled>true</isIsntalled>
  <wasShown>true</wasShown>
  <installedVer>1</installedVer>
</CFProjPrefs>